Django==3.0.5
django-colorfield==0.4.5
djangorestframework==3.12.4
django-extra-fields==3.0.2
django-filter==2.4.0
flake8==3.9.2
gunicorn==20.1.0
pillow==8.4.0
psycopg2-binary==2.8.6
python-environ==0.4.54
reportlab==3.6.3
six==1.16.0